@using UNTCCSS.Components.Layout
@using UNTCCSS.Components.Messege
@using Microsoft.AspNetCore.Authorization
@page "/admin/roles"
@layout AdminPanel
@attribute [Authorize(Policy = "Roles")]

<PageTitle>Roles</PageTitle>

<link rel="stylesheet" href="css/tabla.css">

<div class="container pb-4">
    <div class="mt-2">
        <!-- 📌 Formulario para agregar roles -->
        <div class="mt-3">
            <button class="btn btn-dark mb-3 px-3" onclick="toggleForm()">Agregar nuevo rol</button>
            <div id="formContainer" class="form-collapse" style="display:none; opacity:0; transition: opacity 0.5s ease;">
                <EditForm Model="Input" OnValidSubmit="GuardarRol">
                    <DataAnnotationsValidator />

                    <div class="alert alert-warning mb-3" role="alert">
                        ⚠️ <strong>Importante:</strong> Al crear un nuevo rol, es fundamental configurar correctamente sus permisos. Cada rol define las operaciones que un usuario podrá realizar en el sistema. Asigne permisos con precaución, ya que una configuración incorrecta podría otorgar accesos no deseados o restringir funcionalidades esenciales.
                    </div>

                    <div class="mb-3">
                        <InputText id="rolNombre" class="form-control" @bind-Value="Input.Nombre"
                                   placeholder="Nombre del Rol" required />
                    </div>

                    <div class="mb-3">
                        <InputTextArea id="rolDescripcion" class="form-control" @bind-Value="Input.Descripcion" required
                                       placeholder="Breve descripción del rol" style="min-height: 100px;" />
                    </div>

                    <!-- 📌 Selección de Permisos -->
                    <div class="mt-2">
                        <label class="form-label">Permisos Disponibles</label>
                        <hr class="mt-1" />
                        <div>
                            @if (ListPermisos.Any())
                            {
                                <div class="row">
                                    @foreach (var permiso in ListPermisos)
                                    {
                                        int PermisoId = permiso.Id;
                                        <div class="col-12 col-md-4 mb-2">
                                            <div class="p-3 rounded me-0 me-md-2 d-flex align-items-center justify-content-between"
                                                 id="permisoCard_@PermisoId"
                                                 style="border: 1px solid #D8D9D9; border-left: 5px solid orange;">
                                                <div class="form-check form-switch">
                                                    <input type="checkbox"
                                                           class="form-check-input"
                                                           id="switchPermiso_@permiso.Id"
                                                           checked="@Input.PermisosSeleccionados.Contains(permiso.Id)"
                                                           @onchange="@(e => TogglePermiso(PermisoId, (bool)e.Value))" />
                                                    <label class="form-check-label ms-2" for="switchPermiso_@permiso.Id">@permiso.Name</label>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-info p-1 px-2 bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="bi bi-info-circle"></i>
                                                    </button>
                                                    <ul class="dropdown-menu p-0 overflow-hidden" aria-labelledby="dropdownMenuButton1">
                                                        <div class="p-2 open-sans-regular bg-light" style="font-size: 12px;">
                                                            @permiso.Descripcion
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            }
                            else
                            {
                                <div class="text-center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Cargando permisos...</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-2 px-3 me-3" onclick="hideForm()">Guardar Rol</button>
                    <button type="button" class="btn btn-dark mt-2 px-3" onclick="hideForm()">Cancelar</button>
                </EditForm>
            </div>
        </div>
    </div>

    <!--Mensaje Notificación-->
    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="mt-3">
            <StatusMessage Message="@Message"></StatusMessage>
        </div>
    }

    <!-- 📌 Tabla de roles existentes -->
    <div class="table-responsive" style="min-height: 400PX;">
        <table class="roboto-regular">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Permisos</th>
                    <th>Status</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rol in ListaRoles)
                {
                    <tr>
                        <td>@rol.Name</td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var permiso in rol.RolPermisos.Select(rp => rp.Permisos))
                                {
                                    <li>@permiso.Name</li>
                                }
                            </ul>
                        </td>
                        <td>
                            @if (rol.Status)
                            {
                                <span class="status-badge status-true">Activo</span>
                            }
                            else
                            {
                                <span class="status-badge status-false">Inactivo</span>
                            }
                        </td>
                        <td class="text-end">
                            <button class="btn btn-sm btn-outline-info me-2" @onclick="() => EditarRol(rol.Id)" title="Editar">
                                <i class="bi bi-pencil"></i>
                            </button>
                            @if(rol.Name != "Admin" && rol.Name != "Empresa" && rol.Name != "Registrador" && rol.Name != "Predeterminado")
                            {
                                <button class="btn btn-sm btn-outline-danger" @onclick="() => EliminarRol(rol.Id)" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function toggleForm() {
        const form = document.getElementById('formContainer');
        if (form.style.display === 'none') {
            form.style.display = 'block';
            setTimeout(() => { form.style.opacity = 1; }, 10);
        } else {
            form.style.opacity = 0;
            setTimeout(() => { form.style.display = 'none'; }, 500);
        }
    }

    function hideForm() {
        const form = document.getElementById('formContainer');
        form.style.opacity = 0;
        setTimeout(() => { form.style.display = 'none'; }, 500);
    }
</script>


@code {

}
